@use "../../assets/styles/mixins" as mixin;

.header {
    height: 108.38px;
    padding: 10px 20px;
    box-shadow: var(--box-shadow-nav);
    background-color: #4b4b4b;
    color: whitesmoke;
     img {
         width: 75px;
     }
     .headerMenu {
         @include mixin.xs {
             display: none;
         }
     }

     .burger {
         display: none;
         cursor: pointer;
         transition: opacity 0.2s;
         &:hover {
            opacity: 0.7;
         }
         @include mixin.xs {
             display: block;
             font-size: 40px;
         }
     }
}

.notification{
    min-width: 20px;
    cursor: pointer;
    .numberOfCommand{
        position: absolute;
        top: 55px;
        right: 156px;
        background-color: var(--gray2);
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    .active{
        background-color: var(--notification);
    }
}